{{>header}}

<table class="ui celled table welcome">
    <thead>
    <tr>
        <th>Přezdívka</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Datum narození</th>
        <th>Adresa</th>
        <th>Zobrazit kontakt</th>
        <th>Upravit</th>
        <th>Vymazat</th>
    </tr>
    </thead>

    <tbody>
    {{#users}}
        <tr>
            <td>{{nickname}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{birth_day}}</td>
            <td>{{street_name}}</td>
            <td><a href="contact/view/{{id_person}}"><i class="big address card icon"></i></a></td>
            <td><a href="contact/edituser/{{id_person}}"><i class="big pencil alternate icon"></i></a></td>
            <td><a href="contact/deleteuser/{{id_person}}"><i class="big eraser icon"></i></a></td>
        </tr>
    {{/users}}
    </tbody>
</table>